# Database (Docker)
DB_PORT=27018
DB_USER=tlp4
DB_PASSWORD=tlp4
DB_NAME=tp_integrador

# Backend
PORT=3000
JWT_SECRET=change-this-secret
MONGO_URI=mongodb://tlp4:tlp4@localhost:27018/tp_integrador?authSource=admin
